.btn {
  text-decoration: none;
  font-size: 1.5rem;
  color: $font-light;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin: 0 2rem;
  
  @include flex-row;

  transition: all .5s;
  &:hover{
    cursor: pointer;
  }
}

.btn--blue{
  background-color: $blue;
  letter-spacing: 1px;
  &:hover{
    background-color: $dark-blue;
  }
}

.btn--clear {
  color: black;
  &:hover{
    background-color: $light-blue;
  }
}