.payment {
  width: 40%;
  @include flex-column;
  justify-content: flex-start;
  margin-top: 3rem;
  padding: 1rem;
  border: 1px solid $light-grey;
  border-radius: 5px;
  &__title {
    padding: 3rem;
    font-size: 3rem;
  }
  &__details {
    p {
      font-size: 2rem;
      padding: 2rem;
      border-bottom: 1px solid $light-grey;
      &:before {
        content: "•  "
      }
    }
    &--additional {
      label {
        padding-top: 2rem;
        display: inline-block;
        font-size: 1.8rem;
      }
    }
    .btn {
      font-size: 2rem;
    }
  }
  .fieldset {
    width: 100%;
    padding: 1rem;
  }
  &__status {
    margin-top: 5rem;
    @include flex-column;
  }
  &__message--text {
    @include flex-column;
    font-size: 3rem;
    margin-bottom: 5rem;
    h1 {
      padding: 3rem 0;
    }
  }
  &--icon-success {
    font-size: 6rem;
    color: green;
  }
  &--icon-fail {
    font-size: 6rem;
    color: red;
  }
}


