.student-profile {
  padding: 10rem;
  @include flex-row;
  justify-content: flex-start;
  .image-box {
    height: 20vh;
    margin-right: 3rem;
    img {
      height: 100%;
      object-fit: contain;
      border-radius: 50%;
    }
  }
  &__info {
    padding-left: 2rem;
    height: 20vh;
    @include flex-column;
    align-items: flex-start;
    border-left: 1px solid $light-grey;
    p {
      padding: 2rem;
    }
  }
}