@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$main-font: 'Roboto', sans-serif;
$font-light: #F6EDE2;
$font-dark: #001420;
$blue: #577184;
$light-blue: #577184;
$dark-blue: #2B516C;
$darkest-blue: #083554;
$beige: #A8793D;