@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$main-font: 'Roboto', sans-serif;
$font-light: white;
$font-dark: #001420;
$blue: #577184;
$light-blue: #577184;
$dark-blue: #2B516C;
$darkest-blue: #083554;
$beige: #A8793D;
$dark-beige: #824D04;
$light-beige: #CEAD83;
$rating: #FFC65A;
$pink: #EA4C89;
$light-pink: #F082AC;
$dark-pink: #db1a64;
$darkest-pink: #a4134b;