.landing {
  min-height: 100vh;
  max-width: 100vw;

  &__header{
    height: 10vh;
    max-width: 100%;
    padding: 0 3rem;
    @include flex-row;
    justify-content: space-between;
    &--right-box {
      @include flex-row;
    }
  }

  &__body {
    max-width: 100vw;
    @include flex-column;
    &--box {
      width: 60%;
      padding: 1.5rem;
      @include flex-row;
      justify-content: space-between;
    }
    &--text {
      width: 60%;
      text-align: justify;
      h2 {
        font-size: 2.5rem;
      }
    }
  }

  .image-box {
    height: 30vh;
    img {
      height: 100%;
      object-fit: contain;
    }
  }
}