.login{
  background-color: $font-light;
  max-width: 100vw;
  min-height: 100vh;
  
  @include flex-column;
  justify-content: flex-start;
  header {
    width: 100%;
    height: 10rem;
    padding: 1rem;
  }
}